<radialGradient id="moji-{{ moji_id }}-body-color" fx="40%" fy="0%" fr="20%" cx="40%" cy="30%">
    <stop offset="0" stop-color="rgb(255,230,0)" stop-opacity=".95" fx="0%" fy="0%">
        <animate attributeName="stop-color" values="rgb(255,230,0);rgb(255,170,0);rgb(255,110,0);rgb(255,170,0);rgb(255,230,0);" dur="5s" repeatCount="indefinite"/>
    </stop>
    <stop offset=".5" stop-color="rgb(255,170,0)" stop-opacity=".95">
        <animate attributeName="stop-color" values="rgb(255,170,0);rgb(255,110,0);rgb(255,170,0);rgb(255,230,0);rgb(255,170,0);" dur="5s" repeatCount="indefinite"/>
    </stop>
    <stop offset="1" stop-color="rgb(255,110,0)" stop-opacity=".95">
        <animate attributeName="stop-color" values="rgb(255,110,0);rgb(255,170,0);rgb(255,230,0);rgb(255,170,0);rgb(255,110,0);" dur="5s" repeatCount="indefinite"/>
    </stop>
</radialGradient>
