<radialGradient id="moji-{{ moji_id }}-body-color" fx="40%" fy="0%" fr="20%" cx="40%" cy="30%">
    <stop offset="0" stop-color="rgb(0,230,255)" stop-opacity=".95" fx="0%" fy="0%">
        <animate attributeName="stop-color" values="rgb(0,230,255);rgb(0,170,255);rgb(0,110,255);rgb(0,170,255);rgb(0,230,255);" dur="5s" repeatCount="indefinite"/>
    </stop>
    <stop offset=".5" stop-color="rgb(0,200,255)" stop-opacity=".95">
        <animate attributeName="stop-color" values="rgb(0,170,255);rgb(0,110,255);rgb(0,170,255);rgb(0,230,255);rgb(0,170,255);" dur="5s" repeatCount="indefinite"/>
    </stop>
    <stop offset="1" stop-color="rgb(0,170,240)" stop-opacity=".95">
        <animate attributeName="stop-color" values="rgb(0,110,255);rgb(0,170,255);rgb(0,230,255);rgb(0,170,255);rgb(0,110,255);" dur="5s" repeatCount="indefinite"/>
    </stop>
</radialGradient>