.hidden {
    display: none;
}

.mouth{
    fill: #000;
}

.cel{
    stroke: black;
    stroke-width: .5px;   
}

.bold-cel{
    stroke: black;
    stroke-width: 2px;
}

.thick-cel{
    stroke: black;
    stroke-width: 5px;
}

.darken-25{
    fill:#000;
    opacity: .25;
}

.darken-50{
    fill:#000;
    opacity: .50;
}

.darken-75{
    fill:#000;
    opacity: .75;
}

.lighten-25{
    fill:#fff;
    opacity: .25;
}

.lighten-50{
    fill:#fff;
    opacity: .50;
}

.lighten-75{
    fill:#fff;
    opacity: .75;
}
