<!DOCTYPE html>
<html>
    <head>
        <style>
            /* svg {
                shape-rendering: optimizeSpeed;
            } */
        </style>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <svg height=0 width=0>
            <defs>
                <filter id="shadow-blur" x="-100%" y="-100%" height="300%" width="300%">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="20" />
                </filter>
            </defs>
        </svg>
        <div id="main"></div>
    </body>
    <footer>
        <script type="module" src="/static/js/main.js" defer></script>
    </footer>
</html>
