<html>
    <body>
        <div>
            Gradient Top:<input type="color" id="gradient-top-color"></input><br>
            Gradient Top:<input type="color" id="gradient-bottom-color"></input><br>
            <!-- Eye Color:<input type="color" id="eye-color"></input><br> -->
        </div>
        <style>
            svg {
                shape-rendering: optimizeSpeed;
            }
        </style>
        <svg width="0" height="0">
            <defs>
                <clipPath
                clipPathUnits="userSpaceOnUse"
                id="clipPath1193">
               <path
                  style="fill:none;fill-opacity:1;stroke:#333333;stroke-width:1.60377;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 167.75842,307.16314 c -14.12863,-4.69835 -31.78902,-9.64111 -50.33238,-9.12357 -18.543323,0.51755 -37.969625,4.06 -55.630019,11.46124 -4.218436,60.70276 10.638293,84.89506 54.610509,85.03337 43.66322,0.13734 55.93222,-25.5027 51.35189,-87.37104 z"
                  id="path1195"
                  sodipodi:nodetypes="cscsc" />
             </clipPath>
                <radialGradient id="slime-gradient" fx="40%" fy="0%" fr="20%" cx="40%" cy="30%">
                    <stop id="gradient-top" offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
                    <stop id="gradient-bottom" offset="100%" style="stop-color:rgb(139, 216, 44);stop-opacity:1" />
                </radialGradient>
                <filter id="shadow-blur" height="200%" width="200%">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="20" />
                </filter>
                <clipPath
                id="clipPath1193-2">
               <path
                  style="fill:none;fill-opacity:1;stroke:#333333;stroke-width:1.60377;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 167.75842,307.16314 c -14.12863,-4.69835 -31.78902,-9.64111 -50.33238,-9.12357 -18.543323,0.51755 -37.969625,4.06 -55.630019,11.46124 -4.218436,60.70276 10.638293,84.89506 54.610509,85.03337 43.66322,0.13734 55.93222,-25.5027 51.35189,-87.37104 z"
                  id="path1195-8" />
             </clipPath>
            </defs>
        </svg>
        <svg width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="slime" class="slime">
                <ellipse cx="239" cy="452" ry="45" rx="220" filter="url(#shadow-blur)" fill="rgba(0,0,0,.5)"></ellipse>
                <ellipse fill="url(#slime-gradient)" class="right-ear" cx="380" cy="190" rx="51" ry="52"></ellipse>
                <ellipse fill="url(#slime-gradient)" class="left-ear" cx="99" cy="190" rx="51" ry="52"></ellipse>
                <path fill="url(#slime-gradient)" class="body" d="m62.1 444c-40.9-27.3-56.3-82.5-39.8-128 19.6-65.2 77.1-107 131-144 36.6-23.1 82.3-19.7 124-18.1 44.4 4 75.2 39.1 110 62.4 51.8 36.8 90.5 103 71.4 168-9.93 44.1-48.5 76.5-92 85.2-70.2 18.2-144 12.9-215 7.39-31.4-3.37-65.6-9.31-88.9-32.5z"></path>
                <ellipse class="mouth mouth-open" style="fill:#ff8080; visibility:hidden" id="path502" cx="234.97287" cy="418.94388" rx="14.116587" ry="11.839718" ></ellipse>
                <path class="mouth" d="m205 421c-12-3.7-19-23-9-32 15-2.2-1.3 18 11 21 11 5.9 20-3.8 23-13 7.7-8.8 11 6 15 11 6.1 7.3 22 5.4 23-5.3-.14-10-.68-17 6.6-16 11 11-.52 32-12 34-10 4.5-19-2.6-27-7.9-9.6 4.1-15 11-30 8.7z" fill="black"></path>
                <g
                id="g1273"
                style="display:inline">
               <g
                  id="g1145-1"
                  transform="translate(241.54541,1.1711198)">
                 <path
                    style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.60377;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 167.75842,307.16315 c -14.12863,-4.69836 -31.78903,-9.64113 -50.33238,-9.12358 -18.543328,0.51755 -37.969621,4.06 -55.630019,11.46123 l -0.379828,20.4525 c 46.183957,-10.1014 59.664777,-11.15788 107.103517,-0.54864 z"
                    id="path63-3-3" />
                 <path
                    style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.60377;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 168.51971,329.40466 c -14.12863,-4.69836 -35.10414,-8.70181 -53.64749,-8.18426 -18.543328,0.51755 -35.009838,3.0997 -53.456027,8.7329 -0.09303,31.62851 6.303195,65.81557 54.990337,64.58088 46.39861,-1.17665 52.17522,-30.56742 52.11318,-65.12952 z"
                    id="path63-7-2" />
               </g>
               <g
                  id="g1167-9"
                  clip-path="url(#clipPath1193-2)"
                  transform="translate(241.54541,1.1711198)">
                 <path
                    style="fill:#fff;fill-opacity:1;stroke:none;stroke-width:1.25902;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 157.56481,332.39741 c -21.61124,-7.53911 -37.34614,-7.04227 -41.85131,-6.878 -5.1676,0.18843 -19.124313,0.77548 -42.594672,9.97454 2.154368,48.7052 37.945852,44.10673 43.291832,44.25978 4.94271,0.14151 40.54528,4.15597 41.15415,-47.35632 z"
                    id="path63-9-4-9" />
                 <path
                    style="fill:#eee;fill-opacity:1;stroke:none;stroke-width:1.25902;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 157.56481,332.39741 c 0.25279,-45.80116 -7.90901,-60.60864 -41.43085,-60.2767 -35.45358,0.35106 -43.721347,15.0712 -43.015132,63.37324 19.183089,-7.84697 37.935022,-8.3821 42.002152,-8.55781 3.82143,-0.1651 21.44254,-0.83994 42.44383,5.46127 z"
                    id="path63-9-7-0" />
                 <path
                    style="fill:none;fill-opacity:1;stroke:#333333;stroke-width:1.25902;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 156.72389,311.16407 c -2.69045,-23.93713 -7.06809,-39.3753 -40.58993,-39.04336 -35.453583,0.35106 -40.147424,16.54281 -42.594675,40.87851 -3.311638,47.65404 8.351463,66.64594 42.871375,66.75451 34.27733,0.10784 43.90898,-20.02061 40.31323,-68.58966 z"
                    id="path63-9-5" />
                 <path
                    style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.25786px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 134.00237,376.94264 c -38.453182,-4.83099 -58.328279,-58.6631 -19.57879,-66.52275 31.38228,0.81856 12.85512,46.63873 -5.64509,19.51941 l 7.59494,12.2551 c 19.18376,6.68331 35.05081,-33.9579 -1.72537,-35.04927 -37.52636,7.31462 -35.041531,60.04927 15.39541,70.99478"
                    id="path1116-9-8" />
               </g>
               <path
               style="fill:none;fill-opacity:1;stroke:#333333;stroke-width:1.60377;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 409.30383,308.33427 c -14.12863,-4.69836 -31.78903,-9.64113 -50.33238,-9.12358 -18.54333,0.51755 -37.96962,4.06 -55.63002,11.46123 -4.21844,60.70277 10.6383,84.89507 54.61051,85.03338 43.66322,0.13734 55.93223,-25.5027 51.35189,-87.37103 z"
               id="path63-77-6" />
          </g>
            </g>
            <g
            inkscape:groupmode="layer"
            id="layer2"
            inkscape:label="left-eye-anime"
            style="display:inline">
           <g
              id="g1145">
             <path
                style="fill:#000;fill-opacity:1;stroke:none;stroke-width:1.60377;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 167.75842,307.16315 c -14.12863,-4.69836 -31.78903,-9.64113 -50.33238,-9.12358 -18.543328,0.51755 -37.969621,4.06 -55.630019,11.46123 l -0.379828,20.4525 c 46.183957,-10.1014 59.664777,-11.15788 107.103517,-0.54864 z"
                id="path63-3"
                sodipodi:nodetypes="cscccc" />
             <path
                style="fill:#000;fill-opacity:1;stroke:none;stroke-width:1.60377;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 168.51971,329.40466 c -14.12863,-4.69836 -35.10414,-8.70181 -53.64749,-8.18426 -18.543328,0.51755 -35.009838,3.0997 -53.456027,8.7329 -0.09303,31.62851 6.303195,65.81557 54.990337,64.58088 46.39861,-1.17665 52.17522,-30.56742 52.11318,-65.12952 z"
                id="path63-7"
                sodipodi:nodetypes="cscsc" />
           </g>
           <g
              id="g1167"
              clip-path="url(#clipPath1193)">
             <path
                style="fill:#fff;fill-opacity:1;stroke:none;stroke-width:1.25902;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 157.56481,332.39741 c -21.61124,-7.53911 -37.34614,-7.04227 -41.85131,-6.878 -5.1676,0.18843 -19.124313,0.77548 -42.594672,9.97454 2.154368,48.7052 37.945852,44.10673 43.291832,44.25978 4.94271,0.14151 40.54528,4.15597 41.15415,-47.35632 z"
                id="path63-9-4"
                sodipodi:nodetypes="cscsc" />
             <path
                style="fill:#eee;fill-opacity:1;stroke:none;stroke-width:1.25902;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 157.56481,332.39741 c 0.25279,-45.80116 -7.90901,-60.60864 -41.43085,-60.2767 -35.45358,0.35106 -43.721347,15.0712 -43.015132,63.37324 19.183089,-7.84697 37.935022,-8.3821 42.002152,-8.55781 3.82143,-0.1651 21.44254,-0.83994 42.44383,5.46127 z"
                id="path63-9-7"
                sodipodi:nodetypes="cscsc" />
             <path
                style="fill:none;fill-opacity:1;stroke:#333333;stroke-width:1.25902;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 156.72389,311.16407 c -2.69045,-23.93713 -7.06809,-39.3753 -40.58993,-39.04336 -35.453583,0.35106 -40.147424,16.54281 -42.594675,40.87851 -3.311638,47.65404 8.351463,66.64594 42.871375,66.75451 34.27733,0.10784 43.90898,-20.02061 40.31323,-68.58966 z"
                id="path63-9"
                sodipodi:nodetypes="cscsc" />
             <path
                style="fill:#000;fill-opacity:1;stroke:#000000;stroke-width:1.25786px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 134.00237,376.94264 c -38.453182,-4.83099 -58.328279,-58.6631 -19.57879,-66.52275 31.38228,0.81856 12.85512,46.63873 -5.64509,19.51941 l 7.59494,12.2551 c 19.18376,6.68331 35.05081,-33.9579 -1.72537,-35.04927 -37.52636,7.31462 -35.041531,60.04927 15.39541,70.99478"
                id="path1116-9"
                sodipodi:nodetypes="cccccc" />
           </g>
           <path
              style="display:inline;fill:none;fill-opacity:1;stroke:#333333;stroke-width:1.60377;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
              d="m 167.75842,307.16315 c -14.12863,-4.69836 -31.78903,-9.64113 -50.33238,-9.12358 -18.54333,0.51755 -37.96962,4.06 -55.630017,11.46123 -4.218436,60.70277 10.638297,84.89507 54.610507,85.03338 43.66322,0.13734 55.93223,-25.5027 51.35189,-87.37103 z"
              id="path63-77"
              sodipodi:nodetypes="cscsc" />
         </g>
        </svg>
        <svg width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="slime" class="slime">
                <ellipse cx="239" cy="452" ry="45" rx="220" filter="url(#shadow-blur)" fill="rgba(0,0,0,.5)"></ellipse>
                <ellipse fill="url(#slime-gradient)" class="right-ear" cx="380" cy="190" rx="51" ry="52"></ellipse>
                <ellipse fill="url(#slime-gradient)" class="left-ear" cx="99" cy="190" rx="51" ry="52"></ellipse>
                <path fill="url(#slime-gradient)" class="body" d="m62.1 444c-40.9-27.3-56.3-82.5-39.8-128 19.6-65.2 77.1-107 131-144 36.6-23.1 82.3-19.7 124-18.1 44.4 4 75.2 39.1 110 62.4 51.8 36.8 90.5 103 71.4 168-9.93 44.1-48.5 76.5-92 85.2-70.2 18.2-144 12.9-215 7.39-31.4-3.37-65.6-9.31-88.9-32.5z"></path>
                <ellipse class="mouth mouth-open" style="fill:#ff8080; visibility:hidden" id="path502" cx="234.97287" cy="418.94388" rx="14.116587" ry="11.839718" ></ellipse>
                <path class="mouth" d="m205 421c-12-3.7-19-23-9-32 15-2.2-1.3 18 11 21 11 5.9 20-3.8 23-13 7.7-8.8 11 6 15 11 6.1 7.3 22 5.4 23-5.3-.14-10-.68-17 6.6-16 11 11-.52 32-12 34-10 4.5-19-2.6-27-7.9-9.6 4.1-15 11-30 8.7z" fill="black"></path>
                <ellipse
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:3.22152;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1277-7"
                cx="353.34515"
                cy="324.57321"
                rx="49.420044"
                ry="50.873585" />
             <ellipse
                style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.90404;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1349-5"
                cx="353.31607"
                cy="332.58289"
                rx="38.339199"
                ry="37.298134" />
             <ellipse
                style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:5.67163;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1279-5"
                cx="509.88303"
                cy="-437.15567"
                rx="21.004213"
                ry="24.806797"
                transform="matrix(-0.10032186,0.99495504,-0.88754113,0.4607285,0,0)" />
             <ellipse
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:3.22152;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1277-7-0"
                cx="124.95059"
                cy="325.7865"
                rx="49.420044"
                ry="50.873585" />
             <ellipse
                style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.94656;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1349-5-9"
                cx="124.92151"
                cy="332.11182"
                rx="38.339199"
                ry="38.982502" />
             <ellipse
                style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:5.67163;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1279-5-2"
                cx="385.42581"
                cy="-165.75377"
                rx="21.004213"
                ry="24.806797"
                transform="matrix(-0.10032186,0.99495504,-0.88754113,0.4607285,0,0)" />
            </g>
        </svg>
        <svg width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="slime" class="slime">
                <ellipse cx="239" cy="452" ry="45" rx="220" filter="url(#shadow-blur)" fill="rgba(0,0,0,.5)"></ellipse>
                <ellipse fill="url(#slime-gradient)" class="right-ear" cx="380" cy="190" rx="51" ry="52"></ellipse>
                <ellipse fill="url(#slime-gradient)" class="left-ear" cx="99" cy="190" rx="51" ry="52"></ellipse>
                <path fill="url(#slime-gradient)" class="body" d="m62.1 444c-40.9-27.3-56.3-82.5-39.8-128 19.6-65.2 77.1-107 131-144 36.6-23.1 82.3-19.7 124-18.1 44.4 4 75.2 39.1 110 62.4 51.8 36.8 90.5 103 71.4 168-9.93 44.1-48.5 76.5-92 85.2-70.2 18.2-144 12.9-215 7.39-31.4-3.37-65.6-9.31-88.9-32.5z"></path>
                <ellipse class="mouth mouth-open" style="fill:#ff8080; visibility:hidden" id="path502" cx="234.97287" cy="418.94388" rx="14.116587" ry="11.839718" ></ellipse>
                <path class="mouth" d="m205 421c-12-3.7-19-23-9-32 15-2.2-1.3 18 11 21 11 5.9 20-3.8 23-13 7.7-8.8 11 6 15 11 6.1 7.3 22 5.4 23-5.3-.14-10-.68-17 6.6-16 11 11-.52 32-12 34-10 4.5-19-2.6-27-7.9-9.6 4.1-15 11-30 8.7z" fill="black"></path>
                <ellipse
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.60377;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1539"
                cx="128.74513"
                cy="327.97324"
                rx="30.955862"
                ry="47.265942" />
             <path
                style="fill:#ffffff;stroke:#000000;stroke-width:1.25786px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 110.30452,294.25857 c -6.18656,8.19106 -5.58736,8.85879 -7.0534,17.4924 10.93315,4.46794 16.70323,4.95295 27.93141,3.66776 1.69093,-1.97495 2.34925,-3.94989 1.97495,-5.92484 -5.55243,-8.91386 -12.72753,-12.95969 -22.85296,-15.23532 z"
                id="path1541"
                sodipodi:nodetypes="ccccc" />
             <ellipse
                style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:3.32163;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1549-5"
                cx="139.69492"
                cy="331.12946"
                rx="8.0761585"
                ry="11.642079" />
             <ellipse
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.60377;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1539-0"
                cx="350.1282"
                cy="327.97324"
                rx="30.955862"
                ry="47.265942" />
             <path
                style="fill:#ffffff;stroke:#000000;stroke-width:1.25786px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 331.68788,294.25857 c -6.18656,8.19106 -5.58736,8.85879 -7.0534,17.4924 10.93315,4.46794 16.70323,4.95295 27.93141,3.66776 1.69093,-1.97495 2.34925,-3.94989 1.97495,-5.92484 -5.55243,-8.91386 -12.72753,-12.95969 -22.85296,-15.23532 z"
                id="path1541-4"
                sodipodi:nodetypes="ccccc" />
             <ellipse
                style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:3.32163;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1549-5-0"
                cx="361.07797"
                cy="331.12946"
                rx="8.0761585"
                ry="11.642079" />
        </svg>

        <svg width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="slime" class="slime">
                <ellipse cx="239" cy="452" ry="45" rx="220" filter="url(#shadow-blur)" fill="rgba(0,0,0,.5)"></ellipse>
                <ellipse fill="url(#slime-gradient)" class="right-ear" cx="380" cy="190" rx="51" ry="52"></ellipse>
                <ellipse fill="url(#slime-gradient)" class="left-ear" cx="99" cy="190" rx="51" ry="52"></ellipse>
                <path fill="url(#slime-gradient)" class="body" d="m62.1 444c-40.9-27.3-56.3-82.5-39.8-128 19.6-65.2 77.1-107 131-144 36.6-23.1 82.3-19.7 124-18.1 44.4 4 75.2 39.1 110 62.4 51.8 36.8 90.5 103 71.4 168-9.93 44.1-48.5 76.5-92 85.2-70.2 18.2-144 12.9-215 7.39-31.4-3.37-65.6-9.31-88.9-32.5z"></path>
                <ellipse class="mouth mouth-open" style="fill:#ff8080; visibility:hidden" id="path502" cx="234.97287" cy="418.94388" rx="14.116587" ry="11.839718" ></ellipse>
                <path class="mouth" d="m205 421c-12-3.7-19-23-9-32 15-2.2-1.3 18 11 21 11 5.9 20-3.8 23-13 7.7-8.8 11 6 15 11 6.1 7.3 22 5.4 23-5.3-.14-10-.68-17 6.6-16 11 11-.52 32-12 34-10 4.5-19-2.6-27-7.9-9.6 4.1-15 11-30 8.7z" fill="black"></path>
             <g
                id="g1526"
                style="display:inline">
               <ellipse
                  style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:3.3456;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  id="path1277-7-0"
                  cx="124.95059"
                  cy="329.78079"
                  rx="49.420044"
                  ry="54.867889" />
               <ellipse
                  style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.02153;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  id="path1349-5-9"
                  cx="124.92151"
                  cy="336.60275"
                  rx="38.339199"
                  ry="42.043186" />
               <ellipse
                  style="display:none;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:5.93834;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  id="path1279-5-2"
                  cx="392.51755"
                  cy="-166.15987"
                  rx="22.637344"
                  ry="25.232807"
                  transform="matrix(-0.09308431,0.99565823,-0.87255662,0.48851299,0,0)" />
             </g>
             <g
                id="g1531"
                style="display:inline">
               <ellipse
                  style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:3.3456;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  id="path1277-7-0-9"
                  cx="349.57819"
                  cy="330.63614"
                  rx="49.420044"
                  ry="54.867889" />
               <ellipse
                  style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.02153;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  id="path1349-5-9-7"
                  cx="349.54913"
                  cy="337.4581"
                  rx="38.339199"
                  ry="42.043186" />
               <ellipse
                  style="display:none;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:5.93834;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  id="path1279-5-2-7"
                  cx="526.71008"
                  cy="-437.91281"
                  rx="22.637344"
                  ry="25.232807"
                  transform="matrix(-0.09308431,0.99565823,-0.87255662,0.48851299,0,0)" />
             </g>
             <ellipse
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.60377;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1539"
                cx="128.74513"
                cy="327.97324"
                rx="30.955862"
                ry="47.265942" />
             <path
                style="fill:#ffffff;stroke:#000000;stroke-width:1.25786px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 110.30452,294.25857 c -6.18656,8.19106 -5.58736,8.85879 -7.0534,17.4924 10.93315,4.46794 16.70323,4.95295 27.93141,3.66776 1.69093,-1.97495 2.34925,-3.94989 1.97495,-5.92484 -5.55243,-8.91386 -12.72753,-12.95969 -22.85296,-15.23532 z"
                id="path1541"
                sodipodi:nodetypes="ccccc" />
             <ellipse
                style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:3.32163;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1549-5"
                cx="139.69492"
                cy="331.12946"
                rx="8.0761585"
                ry="11.642079" />
             <ellipse
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.60377;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1539-0"
                cx="350.1282"
                cy="327.97324"
                rx="30.955862"
                ry="47.265942" />
             <path
                style="fill:#ffffff;stroke:#000000;stroke-width:1.25786px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 331.68788,294.25857 c -6.18656,8.19106 -5.58736,8.85879 -7.0534,17.4924 10.93315,4.46794 16.70323,4.95295 27.93141,3.66776 1.69093,-1.97495 2.34925,-3.94989 1.97495,-5.92484 -5.55243,-8.91386 -12.72753,-12.95969 -22.85296,-15.23532 z"
                id="path1541-4"
                sodipodi:nodetypes="ccccc" />
             <ellipse
                style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:3.32163;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="path1549-5-0"
                cx="361.07797"
                cy="331.12946"
                rx="8.0761585"
                ry="11.642079" />
         </g>
        </svg>
    </body>
    <footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
        <script>
            gsap.ticker.fps(30);

            function randomRange(min, max) { return Math.random() * (max - min) + min; }
            function randomNegative() { return Math.random() < 0.5 ? -1 : 1; }

            gsap.set(eye_movement, {onRepeat: eye_movement, repeat: -1, repeatDelay: 2.5});
            function eye_movement(){
                Array.from(document.getElementsByClassName('slime')).forEach((s)=>{
                    let eye_movement_delay = randomRange(0, 2);
                    let x = randomRange(4, 8) * randomNegative();
                    let y = randomRange(4, 8) * randomNegative();
                    Array.from(s.querySelectorAll('.left-eye-inner, .right-eye-inner')).forEach((e)=>{
                        gsap.to(e, {
                            x:x,
                            y:y,
                            delay: eye_movement_delay,
                            duration: .5
                        });
                    });
                })
            }
            var ebb_tl = new TimelineMax({repeat:-1, repeatDelay:.5, yoyo:true})
            ebb_tl.from('#slime', {
                scale: 1.025,
                duration: 3,
                ease: "linear",
                transformOrigin: "top"
            }, randomRange(0, 3));


            let gradient_top_color = document.getElementById('gradient-top-color');
            let gradient_top = document.getElementById('gradient-top')
            gradient_top_color.value = "#ffff00"
            gradient_top_color.addEventListener("change", (e)=>{
                gradient_top.setAttribute("style", `stop-color: ${e.target.value}`)
            })
            let gradient_bottom_color = document.getElementById('gradient-bottom-color');
            let gradient_bottom = document.getElementById('gradient-bottom')
            gradient_bottom_color.value = "#8bd82c"
            gradient_bottom_color.addEventListener("change", (e)=>{
                gradient_bottom.setAttribute("style", `stop-color: ${e.target.value}`)
            })

        </script>
    </footer>
</html>
