<svg id="mochi-{{ svgs['id'] }}-svg" width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
    {% with mochi_id=svgs['id'] %}
        <defs>
            {% set path = "/svgs/gradients/" + svgs["gradient"] + '-gradient.html' %}{% include path %}
        </defs>
        <g id="mochi-{{ svgs['id'] }}" class="mochi">
            {% set path = "/svgs/bodies/" + svgs["body"] + '-body.html' %}{% include path %}
            {% set path = "/svgs/eyes/" + svgs["eyes"] + '-eyes.html' %}{% include path %}
            {% set path = "/svgs/mouths/" + svgs["mouth"] + '-mouth.html' %}{% include path %}
        </g>
    {% endwith %}
</svg>