<html>
    <body>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
        <object type="image/svg+xml" data="/moji-test/"></object>
    </body>
</html>