<svg id="svg-{{ svgs['id'] }}" width="477" height="477" style="transform:rotateY(15deg);transform-origin:238.5px 0;" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <style>svg {shape-rendering:optimizeSpeed;text-rendering:optimizeSpeed;}</style>
    {% with moji_id=svgs['id'] %}
        <defs>
            {% set path = "/svgs/gradient/" + svgs["gradient"] + '-gradient.html' %}{% include path ignore missing %}
            {% include "/moji/body-clip.html" %}
        </defs>
        {% include "/svgs/shadow.html" %}
        {% set path = "/svgs/body/" + svgs["body"] + '-body.html' %}{% include path ignore missing %}
        <g clip-path="url(#body-clip-{{ moji_id }})" id="moji-{{ moji_id }}" class="moji">
            <g style="transform: translate(50px, 0);">
                {% set path = "/svgs/pattern/" + svgs["pattern"] + '-pattern.html' %}{% include path ignore missing %}
                {% set path = "/svgs/eyes/" + svgs["eyes"] + '-eyes.html' %}{% include path ignore missing %}
                {% set path = "/svgs/mouth/" + svgs["mouth"] + '-mouth.html' %}{% include path ignore missing %}
            </g>
        </g>
        <g style="transform: translate(25px, 0) skew(1deg, -1deg);">
            {% set path = "/svgs/headwear/" + svgs["headwear"] + '-headwear.html' %}{% include path ignore missing %}
        </g>
    {% endwith %}
    <script href="https://unpkg.com/gsap/dist/gsap.min.js"></script>
    <script href="/static/js/moji.js"></script>
    <script>new Moji({{ svgs['id'] }});</script>
</svg>
