<svg id="svg-{{ svgs['id'] }}" width="477" height="477" style="transform:scale(-1, 1);transform-origin:238.5px 0;" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <style>svg {shape-rendering:optimizeSpeed;text-rendering:optimizeSpeed;}</style>
    {% with moji_id=svgs['id'], orientation='back' %}
        {% set path = "/svgs/headwear/" + svgs["headwear"] + '-headwear.html' %}
        {% set hat %}
            {% include path ignore missing %}
        {% endset %}
        {% if not hat | trim %}
            {% with orientation='front' %}
                {% include path ignore missing %}
            {% endwith %}
        {% endif %}
        {% include "/svgs/shadow.html" %}
        <g id="moji-{{ moji_id }}">
            <defs>
                {% set path = "/svgs/gradient/" + svgs["gradient"] + '-gradient.html' %}{% include path ignore missing %}
                {% include "/moji/body-clip.html" %}
            </defs>
            <g clip-path="url(#body-clip-{{ moji_id }})">
                {% set path = "/svgs/eyes/" + svgs["eyes"] + '-eyes.html' %}{% include path ignore missing %}
                {% set path = "/svgs/mouth/" + svgs["mouth"] + '-mouth.html' %}{% include path ignore missing %}
            </g>
            {% set path = "/svgs/body/" + svgs["body"] + '-body.html' %}{% include path ignore missing %}
        </g>
        {{ hat }}
    {% endwith %}
    {% if animations %}
        <script href="https://unpkg.com/gsap/dist/gsap.min.js"></script>
        <script href="/static/js/moji.js"></script>
        <script>new Moji("{{ svgs['id'] }}");</script>
    {% endif %}
</svg>
