{% for moji in mojis %}
    {% set moji_id = loop.index %}
    <svg id="svg-{{ moji_id }}" width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
        <style>
            svg {
                shape-rendering: optimizeSpeed;
                text-rendering: optimizeSpeed;
            }
        </style>
            <defs>
                {% set path = "/svgs/" + folder + "/" + moji + '-' + type +'.html' %}{% include path ignore missing %}
                <filter id="shadow-blur" x="-100%" y="-100%" height="300%" width="300%">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="20" />
                </filter>
            </defs>
            <g id="moji-{{ moji_id }}" class="moji">
                <g id="body" class="moji">

                    <ellipse id="moji-{{ moji_id }}-shadow" cx="245" cy="452" rx="219" ry="45" fill="rgba(0,0,0,.5)" filter="url(#shadow-blur)" />
                    <mask id="body-mask-{{ moji_id }}">
                        <rect width="100%" height="100%" fill="white"></rect>
                        <path fill="black" d="m114.5 214.3c65.4-39.5 183.5-45.7 264-2.1 60.1 36.8 96.7 107.2 77.6 172.2-9.9 44.1-48.5 76.5-92 85.2-70.2 18.2-173.3 15.9-240.2 4.8-42.5-8.2-82.2-38.8-93.6-89.8-21.9-64.7 16.5-132 84.1-170.2z" />
                        <ellipse fill="black" cx="42.9" cy="200.4" rx="24.8" ry="24.4"></ellipse>
                        <ellipse fill="black" cx="442.6" cy="193.7" rx="24.8" ry="24.4"></ellipse>
                    </mask>
                    <path mask="url(#body-mask-{{ moji_id }})" fill="url(#moji-{{ moji_id }}-body-color)" d="m 67.6,258.4 11.4,-4.1 C 111.2,183.7 72.9,165.4 45.5,198.8 l 1.0,8.6 c 37.4,-42.4 51.4,5.2 21.1,50.9 z" />
                    <path mask="url(#body-mask-{{ moji_id }})" fill="url(#moji-{{ moji_id }}-body-color)" d="m 418.9,255.2 -11.4,-4.1 c -32.0,-70.6 6.1,-88.8 33.5,-55.5 l -1.0,8.6 c -37.4,-42.4 -51.4,5.2 -21.1,50.9 z" />
                    <path mask="url(#body-mask-{{ moji_id }})" style="fill:#000;fill-opacity:.25;stroke:black;stroke-width:.5px;stroke-opacity:1;" d="m 67.6,258.4 11.4,-4.1 C 111.2,183.7 72.9,165.4 45.5,198.8 l 1.0,8.6 c 37.4,-42.4 51.4,5.2 21.1,50.9 z" />
                    <path mask="url(#body-mask-{{ moji_id }})" style="fill:#000;fill-opacity:.25;stroke:black;stroke-width:.5px;stroke-opacity:1;" d="m 418.9,255.2 -11.4,-4.1 c -32.0,-70.6 6.1,-88.8 33.5,-55.5 l -1.0,8.6 c -37.4,-42.4 -51.4,5.2 -21.1,50.9 z" />
                    <ellipse style="stroke:black;stroke-width:.5px;stroke-opacity:1;" fill="url(#moji-{{ moji_id }}-body-color)" cx="442.6" cy="193.7" rx="24.8" ry="24.4" />
                    <ellipse style="stroke:black;stroke-width:.5px;stroke-opacity:1;" fill="url(#moji-{{ moji_id }}-body-color)" cx="42.9" cy="200.4" rx="24.8" ry="24.4" />
                    <path fill="url(#moji-{{ moji_id }}-body-color)" style="stroke:black;stroke-width:.5px;stroke-opacity:1;" d="m114.5 214.3c65.4-39.5 183.5-45.7 264-2.1 60.1 36.8 96.7 107.2 77.6 172.2-9.9 44.1-48.5 76.5-92 85.2-70.2 18.2-173.3 15.9-240.2 4.8-42.5-8.2-82.2-38.8-93.6-89.8-21.9-64.7 16.5-132 84.1-170.2z" />
                    

                </g>
            </g>
    </svg>
{% endfor %}