{% for moji in mojis %}
    {% set moji_id = loop.index %}
    <svg id="svg-{{ moji_id }}" width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
        <style>
            svg {
                shape-rendering: optimizeSpeed;
                text-rendering: optimizeSpeed;
            }
        </style>
            <defs>
                {% set path = "/svgs/" + folder + "/" + moji + '-' + type +'.html' %}{% include path ignore missing %}
                <filter id="shadow-blur" x="-100%" y="-100%" height="300%" width="300%">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="20" />
                </filter>
            </defs>
            <g id="moji-{{ moji_id }}" class="moji">
                <g id="body" class="moji">
                    <ellipse id="moji-{{ moji_id }}-shadow" cx="245" cy="452" rx="219" ry="45" fill="rgba(0,0,0,.5)" filter="url(#shadow-blur)" />
                    <path fill="url(#moji-{{ moji_id }}-body-color)" style="stroke:black;stroke-width:.3px;stroke-opacity:1;" d="m114.5 214.3c65.4-39.5 183.5-45.7 264-2.1 60.1 36.8 96.7 107.2 77.6 172.2-9.9 44.1-48.5 76.5-92 85.2-70.2 18.2-173.3 15.9-240.2 4.8-42.5-8.2-82.2-38.8-93.6-89.8-21.9-64.7 16.5-132 84.1-170.2z" />
                    <path stroke-linejoin="round" style="stroke:url(#moji-{{ moji_id }}-body-color);stroke-width:6px;stroke-opacity:.65;" d="m114.5 214.3c65.4-39.5 183.5-45.7 264-2.1 60.1 36.8 96.7 107.2 77.6 172.2-9.9 44.1-48.5 76.5-92 85.2-70.2 18.2-173.3 15.9-240.2 4.8-42.5-8.2-82.2-38.8-93.6-89.8-21.9-64.7 16.5-132 84.1-170.2z" />                    
                </g>
            </g>
    </svg>
{% endfor %}