{% for moji in mojis %}
    {% set moji_id = loop.index %}
    <svg id="svg-{{ moji_id }}" width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
        <style>svg {shape-rendering:optimizeSpeed;text-rendering:optimizeSpeed;}</style>
        <text font-family="Grandstander" fill="#000" font-size="28px" dominant-baseline="middle" text-anchor="middle" x="238.5" y="90%">{{ moji.replace("_", " ")|title }} {{ type|title }}</text>
        {% include "/svgs/shadow.html" ignore missing %}
        <g id="moji-{{ moji_id }}" class="moji">
            <defs>
                {% if type == 'gradient' %}
                    {% set path = "/svgs/" + type + "/" + moji + '-' + type +'.html' %}{% include path ignore missing %}
                {% endif %}
                {% include "/moji/body-clip.html" %}
            </defs>
            <g id="body" class="moji">
                {% with svgs = dict(), orientation = 'front' %}
                    {% if type == 'gradient' %}
                        {% include "/svgs/body/cute-body.html" %}
                    {% elif type == 'body' %}
                        {% include "/svgs/gradient/bone-gradient.html" %}
                        {% set path = "/svgs/" + type + "/" + moji + '-' + type +'.html' %}{% include path ignore missing %}
                    {% elif type == 'headwear' %}
                        {% include "/svgs/body/cute-body.html" %}
                        {% include "/svgs/gradient/bone-gradient.html" %}
                        {% set path = "/svgs/" + type + "/" + moji + '-' + type +'.html' %}{% include path ignore missing %}
                        {% with orientation = 'back' %}
                            {% set path = "/svgs/" + type + "/" + moji + '-' + type +'.html' %}{% include path ignore missing %}
                        {% endwith %}
                    {% else %}
                        {% include "/svgs/body/cute-body.html" %}
                        {% include "/svgs/gradient/bone-gradient.html" %}
                        <g clip-path="url(#body-clip-{{ moji_id }})">
                            {% set path = "/svgs/" + type + "/" + moji + '-' + type +'.html' %}{% include path ignore missing %}
                        </g>
                    {% endif %}
                {% endwith %}
            </g>
        </g>
    </svg>
{% endfor %}
