<svg id="svg-{{ svgs['id'] }}" width="477" height="509" viewBox="-50 -50 600 600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <style>
        svg {
            shape-rendering: optimizeSpeed;
            text-rendering: optimizeSpeed;
        }
    </style>
    {% with moji_id=svgs['id'] %}
        <defs>
            {% set path = "/svgs/gradients/" + svgs["gradient"][1] + '-gradient.html' %}{% include path ignore missing %}
            <filter id="shadow-blur" x="-100%" y="-100%" height="300%" width="300%">
                <feGaussianBlur in="SourceGraphic" stdDeviation="20" />
            </filter>
        </defs>
        <g id="moji-{{ svgs['id'] }}" class="moji">
            <g id="body" class="moji">
                {% set path = "/svgs/bodies/" + svgs["body"][1] + '-body.html' %}{% include path ignore missing %}
            </g>
            <g id="eyes" class="moji">
                {% set path = "/svgs/eyes/" + svgs["eyes"][1] + '-eyes.html' %}{% include path ignore missing %}
            </g>
            <g id="mouths" class="moji">
                {% set path = "/svgs/mouths/" + svgs["mouth"][1] + '-mouth.html' %}{% include path ignore missing %}
            </g>  
        </g>
    {% endwith %}
</svg>


<!-- HANDLE LIST HERE !-->