{% if orientation == 'left' %}
    <g style="transform: translate(-40px, 0);">
        <ellipse style="fill:#ffaaaa;stroke:none;opacity:.8;" cx="109" cy="378" rx="24" ry="14" />
        <ellipse style="fill:#ffaaaa;stroke:none;opacity:.8;" cx="374" cy="378" rx="24" ry="14" />
    </g>
{% elif orientation == 'right' %}
    <g style="transform: translate(50px, 0);">
        <ellipse style="fill:#ffaaaa;stroke:none;opacity:.8;" cx="109" cy="378" rx="24" ry="14" />
        <ellipse style="fill:#ffaaaa;stroke:none;opacity:.8;" cx="374" cy="378" rx="24" ry="14" />
    </g>
{% elif orientation == 'front' %}
    <ellipse style="fill:#ffaaaa;stroke:none;opacity:.8;" cx="109" cy="378" rx="24" ry="14" />
    <ellipse style="fill:#ffaaaa;stroke:none;opacity:.8;" cx="374" cy="378" rx="24" ry="14" />
{% endif %}