<g id="moji-{{ moji_id }}-eyes">
    <defs>
        <clipPath id="cat-eye-left-clip">
            <ellipse cx="124.3" cy="328.9" rx="49.4" ry="54.8"/>
        </clipPath>
        <clipPath id="cat-eye-right-clip">
            <ellipse cx="348.9" cy="329.7" rx="49.4" ry="54.8"/>
        </clipPath>
    </defs>
    <g>    
        <g class="outer-eye">
            <ellipse cx="124.3" cy="328.9" rx="49.4" ry="54.8" fill="#000"/>
            <ellipse fill="#fff" cx="124.3" cy="335.7" rx="38.3" ry="42.0"/>
        </g>
        <g clip-path="url(#cat-eye-left-clip)">
            <g class="inner-eye">
                <ellipse cx="128.1" cy="327" rx="30.9" ry="47.2" fill="#000"/>
                <path d="m109.6 293.3c-6.1 8.1-5.5 8.8-7.0 17.4 10.9 4.4 16.7 4.9 27.9 3.6 1.6-1.9 2.3-3.9 1.9-5.9-5.5-8.9-12.7-12.9-22.8-15.2z" fill="#fff"/>
                <ellipse cx="139" cy="330.2" rx="8.0" ry="11.6" fill="#fff"/>
            </g>
        </g>
    </g>
    <g>
        <g class="outer-eye">
            <ellipse cx="348.9" cy="329.7" rx="49.4" ry="54.8" fill="#000"/>
            <ellipse fill="#fff" cx="348.9" cy="336.5" rx="38.3" ry="42.0"/>
        </g>
        <g clip-path="url(#cat-eye-right-clip)">
            <g class="inner-eye">
                <ellipse cx="349.5" cy="327" rx="30.9" ry="47.2" fill="#000"/>
                <path d="m331 293.3c-6.1 8.1-5.5 8.8-7.0 17.4 10.9 4.4 16.7 4.9 27.9 3.6 1.6-1.9 2.3-3.9 1.9-5.9-5.5-8.9-12.7-12.9-22.8-15.2z" fill="#fff"/>
                <ellipse cx="360.4" cy="330.2" rx="8.0" ry="11.6" fill="#fff"/>
            </g>
        </g>
    </g>
</g>
