<g >
    <g class="outer-eye">
        <ellipse cx="125" cy="329.8" rx="49.42" ry="54.87" style="fill:#000"/>
    </g>
    <g class="inner-eye">
        <ellipse fill="url(#{{ moji_id }}-eye-color)" cx="124.9" cy="336.6" rx="38.34" ry="42.04"/>
        <ellipse transform="matrix(-.09308 .9957 -.8726 .4885 0 0)" cx="392.5" cy="-166.2" rx="22.64" ry="25.23" style="display:inline;fill:#fff;stroke-width:5.938;stroke:#000"/>
    </g>
</g>
<g>
    <g class="outer-eye">
        <ellipse cx="349.6" cy="330.6" rx="49.42" ry="54.87" style="fill:#000"/>
    </g>
    <g class="inner-eye">
        <ellipse fill="url(#{{ moji_id }}-eye-color)" cx="349.5" cy="337.5" rx="38.34" ry="42.04"/>
        <ellipse transform="matrix(-.09308 .9957 -.8726 .4885 0 0)" cx="526.7" cy="-437.9" rx="22.64" ry="25.23" style="display:inline;fill:#fff;stroke-width:5.938;stroke:#000"/>
    </g>
</g>