<g id="moji-{{ moji_id }}-eyes">
    <g>
        <g class="outer-eye">
            <path class="darken-75" d="m 74.2,310.2 c -23.1,26.0 -23.5,60.1 -0.8,76.2 22.7,16.0 59.9,7.9 83.1,-18.1 23.1,-26.0 23.5,-60.1 0.8,-76.2 -22.7,-16.0 -59.9,-7.9 -83.1,18.1 z" />
        </g>
        <g class="inner-eye">
            <circle class="bold-cel" fill="#fff" cx="121" cy="332" r="12" />
        </g>
    </g>
    <g>
        <g class="outer-eye">
            <path class="darken-75" d="m 397.9,311.6 c 23.1,26.0 23.5,60.1 0.8,76.2 -22.7,16.0 -59.9,7.9 -83.1,-18.1 -23.1,-26.0 -23.5,-60.1 -0.8,-76.2 22.7,-16.0 59.9,-7.9 83.1,18.1 z" />
        </g>
        <g class="inner-eye">
            <circle class="bold-cel" fill="#fff" cx="350" cy="332" r="12" />
        </g>
    </g>
</g>
